
<div class="container  patient_home">
<h1> Hello there, <%= @user.name %>!</h1>
<hr />
<h4><%= link_to 'Create and View Appointments Here', user_appointments_path(@user), class: "btn btn-success"%></h4>
<br>

<h5>Patients listed Doctor/s</h5>
  <% @user.doctors.each do |doctor| %>
    <li>
    You have an appointment with  <%= link_to doctor.name, doctor %> coming up!
    </li>
  <% end %>
</ul>
<br>

<%= link_to 'Go back', users_path, class: "btn btn-primary" %>
<br>
<br>

<p>Delete your account in app</p>
<%= button_to "Delete Patient", @user, method: :delete, class: "btn btn-danger" %>



</div>