<h1>You are creating an Appointment for <%= @user.name %> </h1>
<br>
<br>

<h4> Appointment Form </h4>
<%= form_with(model: [@user, @appointment], local: true, class: "form" ) do |f| %>
  <%= f.label :doctor %>

  <% @doctor=%>
  <%= f.select :doctor_id, @doctor.collect { |d| [d.name, d.id] } %>
  <br />
  <%= f.label :date %>
  <%= f.select :date, ['Dec', 'Jan', 'Feb'] %>
  <br />
  <%= f.submit nil, class: "btn btn-success" %>
<% end %>
